@use './variables' as *;

* {
  box-sizing: border-box;
}

.body-black {
  background-color: black; /* Новый цвет фона body при нажатии на кнопку */
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button--primary {
  font-size: 1rem;
  padding: 5px 50px;
  background-color: $color--primary;
  border: 3px solid $color--primary;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #fdf4e5;

  &:hover {
    transform: translate(5px, -5px);
    background-color: #ff7f00;
    border-color: #ff7f00; 
  }

  &:active,
  &:focus {
    background-color: #ffa833; 
    border-color: #ffa833; 
    box-shadow: none; 
  }
}

@media (max-width: 768px) {
  .button--primary {
    padding: 0 20px;
  }
}

@media (max-width: 540px) {
  .button--primary {
    padding: 5px 20px;
  }
}