@use './variables' as *;
@use './mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600&family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;500;700&display=swap');

.nav__link {
  @include textStyles('Lora', 18px, 400, $color--white);
  text-decoration: none;
}

.button--primary__text {
  @include textStyles('Lora', 18px, 400, $color--white);
}

@media (max-width: 540px) {
  .button--primary__text {
    font-size: 14px;
  }
}

.heading--h1 {
  margin: 0;
  @include textStyles('Open Sans', 200px, 700, $color--black);
  text-transform: uppercase;
  position: relative;
  letter-spacing: -12px;
  z-index: 1;

  &__two {
    margin: 0;
    @include textStyles('Open Sans', 200px, 700, $color--black);
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    letter-spacing: -12px;

    &::after {
      z-index: -1;
      content: "Books";
      position: absolute;
      bottom: -8px;
      left: -10px;
      color: #fbe028;
    }
  }

  &::after {
    z-index: -1;
    content: "Comics";
    position: absolute;
    bottom: -8px;
    left: -10px;
    color: #fbe028;
  }
}

@media (max-width: 768px) {
  .heading--h1 {
    font-size: 140px;
  }
}

.heading--h4 {
  @include textStyles('Open Sans', 25px, 700, $color--black);
  text-transform: capitalize;
  position: relative;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .heading--h4 {
    font-size: 20px;
  }
}

