@use '../../styles/variables' as *;

.main {
  background-color: $color--back;
}

@media (max-width: 768px) {
  .main {
    position: relative;
    top: 90px;
  }
}

@media (max-width: 1200px) {
  .text-box__one {
    flex-direction: column;
    gap: 60px;
  }
}

@media (max-width: 1200px) {
  .text-box__two {
    flex-direction: column-reverse;
    margin-top: 100px;
  }
}

@media (max-width: 540px) {
  .text-box__two {
    margin-top: 0;
  }
}

.text--ligthing {
  z-index: 1;
  position: relative;
}

.z {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: -1;
  top: -70px;
}

@media (max-width: 768px) {
  .text--ligthing {
    display: none;
  }
}

.lg {
  position: absolute;
  transform: skewX(-50deg) rotate(-40deg) translate(-78%, -82%);
  z-index: 2;
  top: 50%;
  left: 50%;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }
}

.lightning-border{
  background: #d4c6cb;  
  width: 42px;
  height: 130px; 
  left: 50.5%;

  &::before {
    top: -140px;
    left: -24px;
    border-bottom: 172px solid #d4c6cb;
    border-left: 38px solid transparent;
    border-right: 16px solid transparent;
  }

  &::after {
    top: 88px;
    left: 14px;
    border-top: 172px solid #d4c6cb;
    border-left: 16px solid transparent;
    border-right: 38px solid transparent;
  }
}

.lightning{
  background: #fbe028;
  width: 25px;
  height: 120px;

  &::before {
    top: -130px;
    left: -20px;
    border-bottom: 150px solid #fbe028;
    border-left: 30px solid transparent;
    border-right: 10px solid transparent;
  }

  &::after {
    top: 90px;
    left: 15px;
    border-top: 150px solid #fbe028;
    border-left: 10px solid transparent;
    border-right: 30px solid transparent;
  }
}

.box--photos {
  &__one {
    width: 500px;

    &__size {
      width: 80px;

      img {
        max-width: 100%;
      }
    }
  }
}

.box--photos {
  &__one {
    &__size--small {
      width: 60px;

      img {
        max-width: 100%;
      }
    }
  }
}

.box--photos {
  &__two {
    width: 400px;
    margin: 0 auto;
    &__size--small {
      width: 60px;

      img {
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 540px) {
  .box--photos {
    margin-top: 30px;
    &__one {
      width: 350px;
      &__size {
        width: 50px;
      }
    }
  }
}

@media (max-width: 540px) {
  .box--photos {
    margin-top: 30px;
    &__two  {
      width: 350px;
      &__size {
        width: 50px;
      }
    }
  }
}

.addition--info {
  background-color: $color--black;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;

  &__one--text {
    width: 300px;
    position: relative;

    .intro__icon {
      width: 20px;
      margin-bottom: 5px;
      margin-right: 10px;
    }
  }

  &__one--image {
    max-width: 300px;
    border: 2px solid $color--primary;

    img {
      width: 100%;
    }
  }

  &__one--text {
    margin-left: 20px;
    max-width: 420px;
  }
}

@media (max-width: 768px) {
  .addition--info__content {
    margin: 0 auto;
    flex-direction: column-reverse;
    gap: 20px;

    .addition--info__one,
    .addition--info__two {
      gap: 40px;
    }

    .addition--info__one--text {
      text-align: center;
    }

    .addition--info__two--image {
      max-width: 300px;
    }
  }
}

@media (max-width: 540px) {
  .addition--info__content {
    margin: 0 auto;
    flex-direction: column-reverse;

    .addition--info__one {
      flex-direction: column-reverse;
      margin-top: 40px;
    }

    .addition--info__two {
      padding-bottom: 50px;
      border-bottom: 2px solid $color--white;
    }

    .addition--info__one,
    .addition--info__two {
      gap: 10px;
    }

    .addition--info__one--text {
      text-align: center;
    }

    .addition--info__two--image {
      max-width: 150px;
    }
  }
}

.addition--info__two {
  &--image {
    max-width: 150px;

    img {
      width: 100%;
      border: 10px solid $color--primary;
    }
  }
}

.section--second {
  margin-top: 0;
  border-bottom: 2px solid $color--black;
  &__content {
    padding: 20px;
    border-left: 2px solid $color--black;
    border-right: 2px solid $color--black;
  }

  .box--comics__text {
    padding-top: 40px;
    text-align: center;
  }
}

.section--third {
  position: relative;
  background-image: url('../../images/img_main/back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 40px;

  &__img--back {
    position: absolute;
    max-width: 450px;
    min-width: 250px;
    top: 28%;
    left: -60px;
  }

  &__img--back--right {
    position: absolute;
    max-width: 220px;
    min-width: 150px;
    top: 28%;
    right: -30px;
  }
}

@media (max-width: 1200px) {
  .section--second {
    &__img--back {
      width: 450px;
    }

    &__img--back--right {
      width: 250px;
    }
  }
}

@media (max-width: 991px) {
  .section--second {
    &__img--back {
      display: none;
    }

    &__img--back--right {
      display: none;
    }
  }
}

.text--heading {
  display: flex;
  justify-content: center;
}

.box--card {
  margin-top: 50px;
}

.section--four {
  padding-bottom: 40px;

  &__content {
    padding: 20px;
    border-left: 2px solid $color--black;
    border-right: 2px solid $color--black;
  }
}





