@use '../../styles/variables' as *;

.gallery {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
  .carousel {
    max-width: 300px;  
  }

  .carousel-item img {
    max-width: 400px; 
    height: auto; 
    margin: 0 auto; 
  }
}

@media (max-width: 540px) {
  .gallery {
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .carousel {
      max-width: 320px;
    }

    .carousel-container {
      margin: 0 auto;
    }
  }
}