.gallery {
  .carousel {
    max-width: 600px; // Измените значение по вашему усмотрению
    margin: 0 auto; // Центрирование карусели
  }

  .carousel-item img {
    max-width: 400px; // Измените значение по вашему усмотрению
    height: auto; // Автоматическая высота в соответствии с пропорциями
    margin: 0 auto; // Центрирование фотографий
  }

  
}