@use '../../styles/variables' as *;

.footer {
  background-color: $color--black;
  padding-bottom: 30px;
  margin-top: -40px;

  &__content {
    justify-content: space-evenly;
  }
  
  .footer__form {
    max-width: 400px;
    background-color: $color--black;
    box-shadow: 4px 4px $color--primary;
    border: 2px solid $color--primary;

    input {
      padding: 7px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: 2px solid $color--primary;
      box-shadow: 4px 4px $color--primary;
      outline: none;
    }
  }

  &__text {
    max-width: 400px;

    .heading--h3__white--color {
      text-align: center;
    }

    .footer__text--paragraph {
      text-align: center;
    }
  }

  .mg-top {
    padding-top: 40px;
  }
}

@media (max-width: 768px) {
  .footer {
    &__content {
      flex-direction: column-reverse;
      padding-top: 130px;

      .footer__text {
        max-width: 100%;
      }

      .form__comment {
        .heading--h3__white--color {
          text-align: center;
        }
      }
    }
  }
}

.box--social {
  gap: 20px;
  justify-content: center;

  &__svg {
    width: 40px;

    &:hover {
      scale: 1.1;
    }
  }
}

@media (max-width: 768px) {
  .box--social {
    justify-content: center;
  }
}