@use '../../styles/variables' as *;

.footer {
  background-color: $color--black;
  padding-bottom: 30px;

  &__content {
    justify-content: space-evenly;
  }
  
  .footer__form {
    max-width: 400px;
    background-color: $color--black;
    box-shadow: 4px 4px $color--primary;
    border: 2px solid $color--primary;

    input {
      padding: 7px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: 2px solid $color--primary;
      box-shadow: 4px 4px $color--primary;
      outline: none;
    }
  }

  &__text {
    max-width: 400px;
  }

  .mg-top {
    padding-top: 40px;
  }
}